* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", system-ui, sans-serif;
  color: #e0e6ef;
  height: 100vh;
}

body {
  background: #181a20;
  margin: 0;
  padding: 2rem;
  height: 100%;
}

div#root {
  height: 100%;
}

::selection {
  background: #26304a;
}
